@{
    Layout = null;
}
@model UmbracoResetPasswordPackage.App_Plugins.AndriyPlugin.Models.ResetPasswordModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot your password?</title>
    <!-- Core CSS - Include with every page -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- SB Admin CSS - Include with every page -->
</head>
<body>
    <div class="container">
        <div class="row" style=" margin-top: 100px;">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Reset password</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            We will send you link for reset pasword on your email.
                        </p>
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.ValidationSummary(null, new { @class = "alert-warning" })
                            <fieldset>
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m=>m.UserID)
                                @Html.HiddenFor(m=>m.ResetToken)
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", name = "email", required = "true", autofocus = "true" })
                                    @Html.ValidationMessageFor(m => m.Email, null, new { style = "color:red" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", name = "email", required = "true", autofocus = "true" })
                                    @Html.ValidationMessageFor(m => m.Password, null, new { style = "color:red" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control", placeholder = "Confirm password", name = "email", required = "true", autofocus = "true" })
                                    @Html.ValidationMessageFor(m => m.PasswordConfirm, null, new { style = "color:red" })
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-block">Reset</button>
                            </fieldset>
                            <div>
                                <label>
                                    <a href="~/umbraco">Login</a>
                                </label>
                                <label>
                                    <a href="~/">Home</a>
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Core Scripts - Include with every page -->
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
